@using InClothes.Model.Common
@model InClothes.ViewModels.ProductViewModel
@{
    ViewBag.Title = $"{Model.Brand} {Model.Name}";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="carouselExampleControls" class="carousel slide card-product-carousel" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    @for (var i = 1; i <= Model.Images.Length - 1; i++)
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="@i"></li>
                    }
                </ol>
                <div class="carousel-inner">
                    @{
                        <div class="carousel-item active">
                            <img src="@Model.Images[0]" class="d-block w-100" alt="...">
                        </div>
                    }
                    @for (var i = 1; i <= Model.Images.Length - 1; i++)
                    {
                        <div class="carousel-item">
                            <img src="@Model.Images[i]" class="d-block w-100" alt="...">
                        </div>
                    }
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                @if (Model.Tags.Contains(ProductTagEnum.New))
                {
                    <span class="badge badge-pill badge-success rounded-0 m-1">Новинка</span>
                }
                @if (Model.Tags.Contains(ProductTagEnum.Hit))
                {
                    <span class="badge badge-pill badge-danger rounded-0 m-1">ХИТ</span>
                }
                @if (Model.Tags.Contains(ProductTagEnum.Discount))
                {
                    <span class="badge badge-pill badge-warning rounded-0 m-1">-@Model.Price.Discount%</span>
                }
                @if (Model.Tags.Contains(ProductTagEnum.Wholesale))
                {
                    <span class="badge badge-pill badge-info rounded-0 m-1">Опт</span>
                }
            </div>
            <h2>@Model.Brand</h2>
            <h6 class="text-muted">@Model.Name</h6>

            <div class="d-flex justify-content-between">
                <div id="ProductPriceId">
                    @await Html.PartialAsync("Product/_ProductPricePartial", Model.Price)
                </div>
                <button type="button" class="btn-primary mt-3 mb-3" style="max-height: 40px">Добавить в корзину</button>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text rounded-0">Размер</span>
                </div>
                @Html.DropDownListFor(model => model.Size.CurrentSize, Model.Size.SizeList, new
                {
                    id = "ProductSizeId",
                    @class = "custom-select"
                })
            </div>

            <p class="text-right">
                <a href="#" class="text-decoration-none" data-toggle="modal" data-target="#productSizeModal">Таблица соответствия размеров</a>
            </p>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text rounded-0">Количество</span>
                </div>
                @Html.TextBoxFor(model => model.Count, new
                {
                    id = "ProductCountId",
                    @class = "form-control",
                    type = "number",
                    min = 1,
                    max = 9999
                })
            </div>

            <div class="text-muted text-right" style="font-size: 12px">
                Для некоторых товаров цена зависит от количества
            </div>

            <div class="mt-3 p-3 border-top">
                <h6 class="text-uppercase">О товаре</h6>
                <div class="mt-1 mb-1">
                    <span class="text-muted small">Состав: </span>
                    <span>@Model.Composition</span>
                </div>
                <div class="mt-1 mb-1">
                    <span class="text-muted small">Артикул: </span>
                    <span>@Model.Article</span>
                </div>
                <div class="mt-1 mb-1">
                    <span class="text-muted small">Опиание: </span>
                    <span>@Model.Description</span>
                </div>
            </div>

            <div class="mt-3 p-3 border-top">
                <h6 class="text-uppercase">Поделиться</h6>
                <div class="ya-share2" data-services="odnoklassniki,vkontakte,facebook,whatsapp,viber,telegram"></div>
            </div>

        </div>
    </div>
</div>

@{
    Html.RenderPartial("Product/_ProductSizePartial", Model.Size.SizeOptions);
}

<script>

    function ProductPriceRecalculate() {
        
        var size = $("#ProductSizeId")[0].value;
        var count = $("#ProductCountId")[0].value;
        
        $.ajax({
            url: '/Product/CalculatePrice/1?size='+size+'&count='+count,
            type: 'POST',
            data: "",
            contentType: 'application/json; charset=utf-8',
            success: function(data) {
              $("#ProductPriceId").html(data);
            },
            error: function() {
              alert("Нет связи с сервером")
            }
        })
    }
    
    $(document).ready(function() {
        $("#ProductSizeId").on("change", ProductPriceRecalculate);
        $("#ProductCountId").on("change", ProductPriceRecalculate)
    })

</script>