@model object

<div class="card mt-2 mb-2 ml-2 mr-2 rounded-0 card-product-card">
    <div class="position-absolute">
        <div class="row">
            <span class="badge badge-pill badge-success rounded-0">Новинка</span>
        </div>
        <div class="row mt-1">
            <span class="badge badge-pill badge-danger rounded-0">ХИТ</span>
        </div>
        <div class="row mt-1">
            <span class="badge badge-pill badge-warning rounded-0">-20%</span>
        </div>
        <div class="row mt-1">
            <span class="badge badge-pill badge-info rounded-0">Опт</span>
        </div>
    </div>
    <label class="position-absolute mt-2 mr-2 card-add-to-favorite" tooltip="В избранное" flow="up">
        <input type="checkbox" name="favorite" class="d-none"/>
        <i class="material-icons card-add-to-favorite-active d-none color-main">favorite</i>
        <i class="material-icons card-add-to-favorite-inactive color-main">favorite_border</i>
    </label>
    <div class="mt-2">
        <img src="jpg/photo.jpg" alt="Product" class="card-img-top img-product-card rounded-0">
    </div>
    <div class="card-body">
        <h5 class="card-title card-title-text">Simeon<small class="text-muted"> / Брюки спортивные</small></h5>
        <div class="card-text d-flex justify-content-between">
            <span class="card-price-text-preview text-primary" tooltip="Цена зависит от размера" flow="up">от 800 до 1000 руб.</span>
            <label class="position-absolute mr-2 card-add-to-basket" tooltip="В корзину" flow="up">
                <i class="material-icons color-main">add_shopping_cart</i>
            </label>
        </div>
    </div>
</div>