@using InClothes.Extensions
@model InClothes.ViewModels.ProductSizeOptionViewModel

<div id="productSizeModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">@Model.Category.GetSizeTypeDescription()</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            @foreach (var sizeOptionHeader in Model.SizeOptionHeaders)
                            {
                                <th scope="col">@sizeOptionHeader</th>
                            }
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var sizeOption in Model.SizeOptions)
                        {
                            <tr>
                                <td>@sizeOption.SizeRus</td>
                                <td>@sizeOption.Size</td>
                                <td>@sizeOption.Breast</td>
                                <td>@sizeOption.Waists</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                <div>
                    <span class="text-light text-muted">
                        Вам понадобится провести измерения с помощью сантиметровой ленты ... и бла-бла-бла
                    </span>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="text-decoration-none" data-dismiss="modal">Закрыть</a>
            </div>
        </div>
    </div>
</div>